# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.exe
*.o
build-P2-Desktop_Qt_5_4_1_MinGW_32bit-Debug/Makefile
*.Debug
build-P2-Desktop_Qt_5_4_1_MinGW_32bit-Debug/Makefile.Release
build-P2-Desktop_Qt_5_4_1_MinGW_32bit-Debug/ui_mainwindow.h
build-P2-Desktop_Qt_5_4_1_MinGW_32bit-Debug/debug/moc_mainwindow.cpp
build-P2-Desktop_Qt_5_4_1_MinGW_32bit-Debug/debug/moc_clock.cpp
build-P2-Desktop_Qt_5_4_1_MinGW_32bit-Debug/debug/moc_dialogosimulacion.cpp
build-P2-Desktop_Qt_5_4_1_MinGW_32bit-Debug/ui_dialogosimulacion.h
build-P2-Desktop_Qt_5_4_1_MinGW_32bit-Debug/ui_clock.h
P2/Modelo/genera_procesos.h.autosave
